<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
    <!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <form action="/formulaire-fiche-médicale" method="post">
            <h1>Formulaire</h1>
                <section>
                    <h2>Enfant :</h2>
                    Nom : <input type="text"> Prénom : <input type="text"><br>
                    Adresse : <input type="text"><br>
                    Date de naissance : <input type="date" value="Date de naissance :"><br>
                    Numéro de registre national : <input type="number"><br>
                    Nous autorisez-vous à mettre les photos de votre enfant sur notre page Facebook ?
                    <input type="radio" id="Oui" name="photo">
                    <label for="Oui">Oui</label>
                    <input type="radio" id="Non" name="photo">
                    <label for="Non">Non</label>
                </section>
               <section>
                   <h2>Parents ou responsables</h2>
                   Responsable légale :
                    <input type="checkbox" id="père" name="Responsable">
                    <label for="Père">Père</label>
                    <input type="checkbox" id="Mère" name="Responsable">
                    <label for="Mère">Mère</label>
                    <input type="checkbox" id="Autre" name="Responsable">
                    <label for="Autre">Autre</label><br>
                    Nom et prénom du père : <input type="text"><br>
                    Tél fixe : <input type="text"> GSM :<input type="text"> <br>
                    Adresse : <input type="text"><br>
                    E-mail : <input type="text"><br>
                    Nom et prénom de la mère : <input type="text"><br>
                    Tél fixe : <input type="number">  GSM : <input type="number"><br>
                    Adresse : <input type="text"><br>
                    E-mail : <input type="email"><br>
                    3ème personne à contacter en cas d'urgence (si pas de réponse des deux premiers) : <input type="text">
               </section>
               <section>
                   <h2>Santé</h2>
                   Médecin traitant :<br>
                   Nom : <input type="text"> <br>
                   Téléphone : <input type="number"><br>
                   Ville : <input type="number"><br>

                   Date du dernier vaccin tétanos : <input type="date"> groupe sanguin : <input type="text"><br>
                   Poids : <input type="number">                                                     Taille : <input type="number"> <br>
                   Votre enfant a-t-il subi une intervention chirurgicale qui a encore des conséquences actuellement ? <input type="radio" name="opération" id="Oui"><label for="Oui">Oui</label><input type="radio" name="opération" id="Non"><label for="Oui">Non</label><br>
                   La quelle ? <input type="text"><br>
                   Date de l'intervention : <input type="date"> Précautions : <input type="text"><br>
                   Souffre-t-il régulièrement ou de manière permanente de :<br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Diabète</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Maladie cardiaque</label> <br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Affection de la peau</label> <br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Somnambulisme</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Insomnie</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Incontinence</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Eczéma</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Asthme</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Sinusite</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Bronchite</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Saignement de nez</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Maux de tête</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Maux de ventre</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Constipation</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Diarrhée</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Vomissements</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé">Mal de route</label><br>
                   <input type="checkbox" id="problème de santé"><label for="problème de santé"> Autres à préciser </label><input type="text"><br>
                   Comment le prendre en charge ? <input type="text"><br>
                   Est-il allergique à certains médicaments- aliments ? Si oui lesquels ?<input type="radio" name="médicament" id="Oui"><label for="Oui">Oui</label><input type="radio" name="médicament" id="Non"><label for="Non">Non</label><br>
                   Est-il allergique à : <br>
                   <input type="checkbox" id="allergie"><label for="allergie">Acariens</label><br>
                   <input type="checkbox" id="allergie"><label for="allergie">Pollen</label> <br>
                   <input type="checkbox" id="allergie"><label for="allergie">Soleil</label> <br>
                   <input type="checkbox" id="allergie"><label for="allergie">Maquillages</label><br>
                   <input type="checkbox" id="allergie"><label for="allergie">Savons</label><br>
                   <input type="checkbox" id="allergie"><label for="allergie">Poils d'animaux</label><br>
                   <input type="checkbox" id="allergie"><label for="allergie"> Autres à préciser </label><input type="text"><br>
                   Doit-il suivre un régime alimentaire particulier ? <input type="radio" name="Régime" id="Oui"><label for="Oui">Oui</label><input type="radio" name="Régime" id="Non"><label for="Non">Non</label> Si oui lequel ? <input type="text"><br>
                   Votre enfant est-il soigné par homéopathie ? <input type="radio" name="homéopathie" id="Oui"><label for="Oui">Oui</label><input type="radio" name="homéopathie" id="Non"><label for="Non">Non</label><br>
                   Votre enfant a-t-il un traitement médicamenteux ? <input type="radio" name="traitement" id="Oui"><label for="Oui">Oui</label><input type="radio" name="traitement" id="Non"><label for="Non">Non</label> Si oui lequel ? <input type="text"><br>
                </section>
                <section>
                    <h2>Habitudes de vie </h2>
                    Faut-il l'éveiller la nuit pour aller aux toilettes ? <input type="radio" name="toilette" id="Oui"><label for="Oui">Oui</label><input type="radio" name="toilette" id="Non"><label for="Non">Non</label><br>
                    Porte-t-il une protection pour la nuit ? <input type="radio" name="protection de nuit" id="Oui"><label for="Oui">Oui</label><input type="radio" name="protection de nuit" id="Non"><label for="Non">Non</label><br>
                    A-t-il peur la nuit? <input type="radio" name="peur" id="Oui"><label for="Oui">Oui</label><input type="radio" name="peur" id="Non"><label for="Non">Non</label><br>
                    A-t-il d'autres peurs particulières ? <input type="radio" name="autres peurs" id="Oui"><label for="Oui">Oui</label><input type="radio" name="autres peurs" id="Non"><label for="Non">Non</label> Si oui lesquels ? <input type="text"><br>
                    Se lave-t-il seul ? <input type="radio" name="lave" id="Oui"><label for="Oui">Oui</label><input type="radio" name="lave" id="Non"><label for="Non">Non</label><br>
                </section>
                <section>
                    <h2>Jeux- Activités sportives</h2>
                    Y-a-t-il des jeux ou activités sportives qu’il ne peut pas pratiquer ? <input type="radio" name="sport" id="Oui"><label for="Oui">Oui</label><input type="radio" name="sport" id="Non"><label for="Non">Non</label><br>
                    Si oui, lesquels ? <input type="text">
                    Y-a-t-il des jeux ou activités sportives qu’il peut pratiquer uniquement sous certaines conditions ? (Exemple : problème aux genoux, ne pas forcer lors de la marche) <input type="radio" name="conditions" id="Oui"><label for="Oui">Oui</label><input type="radio" name="conditions" id="Non"><label for="Non">Non</label><br>
                    Si oui, indiquez-les ici :
                    <input type="text">
                    Sait-il nager ? <input type="radio" name="nage">Pas du tout<input type="radio" name="nage">Apprentissage<input type="radio" name="nage">Bien<input type="radio" name="nage">Très bien
                </section>
                <section>
                    <h2>Lunettes – appareils dentaires- semelles orthopédiques et autres</h2>
                    Porte-t-il des lunettes : <input type="radio" id="lunettes">Oui<input type="radio" id="lunettes">Non<br>
                    Si oui, à quel moment doit-il les porter ? <input type="text"><br>
                    A-t-il un appareil dentaire à demeure ? <input type="radio" id="appareil dentaire à demeure">Oui<input type="radio" id="appareil dentaire à demeure">Non<br>
                    A-t-il un appareil dentaire amovible ? <input type="radio" id="dentaire amovible">Oui<input type="radio" id="dentaire amovible">Non<br>
                    Si oui, est-il autonome pour son entretien ou réglages ? <input type="radio" id="entretien">Oui<input type="radio" id="entretien">Non<br>
                    Si non, veuillez donner les indications précises à l’animateur responsable lors d’un camp ou hike <input type="text"><br>
                    Doit-il porter un appareillage autre ? <input type="radio" id="appareillage autre">Oui<input type="radio" id="appareillage autre">Non<br>
                    Si oui, lequel ? <input type="text"><br>
                    Est-il autonome pour sa mise en place, son entretien et son réglage ? <input type="radio" id="réglage">Oui<input type="radio" id="réglage">Non<br>
                    Si non, veuillez donner les indications précises à l’animateur responsable lors d’un camp ou hike <input type="text"><br>
                </section>
                <section>
                    <h2>appareillage autre</h2>
                    Y-a-t-il des précautions particulières à prendre pour sa sécurité et/ou son bien-être ?<br>
                    <input type="text">
                </section>
        <button></button>
    </form>
</body>
</html>
</body>
</html>