<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVP</title>
</head>
<body>
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Formulaire</h1>
        <section>
            <h2>Enfant :</h2>
            Nom : <input type="text" name="nom"> Prénom : <input type="text" name="prenom"><br>
            Adresse : <input type="text" name="adresse"><br>
            Date de naissance : <input type="int" value="Date de naissance :" name="date"><br>
            Numéro de registre national : <input type="number" name="numero"><br>
                    <div class="col-md-6">
            <button type="submit" class="btn btn-info mt-4">Save</button>
        </div>
        </section>
    </form>
</body>
</html>